.projects-container {
    max-width: 1440px;
}

.projects-list {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 525px;
}

.project-image {
    flex: 1;
    height: 525px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    transition: flex 0.5s ease-in-out, transform .2s, opacity .2s;
    cursor: pointer;
}

.project-image:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image.active {
    flex: 5;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
    font-size: 18px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.overlay h4 {
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.project-image.active .overlay h4 {
    opacity: 1;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 960px) {

}

@media (max-width: 768px) {
    .projects-list {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .projects-list {
        gap: 5px;
    }
}